@media (min-width:768px) and (max-width:991px){
    .navbar{
        padding: 6px 24px;
        background: #fff!important;
    }
    .navbar .color-w svg path {
        fill:rgba(0,0,0,0.7);
    }
    .navbar ul li a.color-w {
        color: rgba(0,0,0,0.7)!important;
    }
    #first-page #animate h1.text{
        width: 225vw;
    }
    #life-culture h3.text{
        color: #ffffff;
    }
    #team{
        padding: 100px 0;
    }
    #team .m-container .row .col-12 svg{
        width: 25px;
        height: 25px;
        margin-right: 10px;
        transition: 1s;
    }
    svg.rotate{
        transform: rotate(180deg);
        transition: 1s;
    }
    #team .m-container .row .col-12 svg path{
        fill: #ffffff;
    }
    #panel{
        display: none;
    }
    #team .m-container .row .col-12 #panel svg{
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }
    #team .m-container .row .col-12 #panel svg path{
        stroke: #ffffff;
        fill: transparent;
    }
    .info{
        background: #df390f;
    }
    #position .container-fluid{
        padding: 0 100px;
    }
    h4.text{
        color: black!important;
    }
    .border-mob{
        border-top: 1px solid #c0c9d3!important;
        border-bottom: 1px solid #c0c9d3!important;
    }
    #images{
        padding: 100px 0;
    }
    #images .owl-images img {
        max-height: 30vh!important;
    }
    #facts .button svg{
        height: 25px;
        width: 25px;
        margin-right: 10px;
        transition: 1s;
    }
    #facts .button svg path{
        fill: #f04c23!important;
    }
    #facts-panel{
        display:none;
    }
    .facts-info{
        background: #f6f8fa;
    }
    #our-team{
        padding: 100px 0 0;
    }
    #life-culture{
        padding: 100px 0;
    }
    #contact{
        padding: 100px 0;
    }
    .social-icon {
        margin: 40px auto 60px;
        max-width: 138px;
    }
}

@media (min-width:576px) and (max-width:767px){
    h1.text{
        font-size: calc(55px + (65 - 55) * ((100vw - 320px)/ (768 - 320)));
    }
    h2.text{
        font-size: calc(28px + (38 - 28) * ((100vw - 320px)/ (768 - 320)));
    }
    h3.text{
        font-size: calc(24px + (26 - 24) * ((100vw - 320px)/ (768 - 320)));
    }
    .navbar{
        padding: 6px 24px;
        background: #fff!important;
    }
    .navbar .color-w svg path {
        fill:rgba(0,0,0,0.7);
    }
    .navbar ul li a.color-w {
        color: rgba(0,0,0,0.7)!important;
    }
    #life-culture h3.text{
        color: #ffffff;
    }
    #life-culture span.outline-text{
        font-size: calc(28px + (38 - 28) * ((100vw - 320px)/ (768 - 320)));
    }
    #reading h1.text{
        font-size: calc(55px + (65 - 55) * ((100vw - 320px)/ (768 - 320)));
    }
    #first-page #animate h1.text{
        width: 300vw;
    }
    #team{
        padding: 100px 0;
    }
    #team .m-container .row .col-12 svg{
        width: 25px;
        height: 25px;
        margin-right: 10px;
        transition: 1s;
    }
    svg.rotate{
        transform: rotate(180deg);
        transition: 1s;
    }
    #team .m-container .row .col-12 svg path{
        fill: #ffffff;
    }
    #panel{
        display: none;
    }
    #team .m-container .row .col-12 #panel svg{
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }
    #team .m-container .row .col-12 #panel svg path{
        stroke: #ffffff;
        fill: transparent;
    }
    .info{
        background: #df390f;
    }
    #position{
        padding: 100px 0;
    }
    #position .container-fluid{
        padding: 0 20px;
    }
    #video{
        height: 400px!important;
    }
    h4.text{
        color: black!important;
    }
    .border-mob{
        border-top: 1px solid #c0c9d3!important;
        border-bottom: 1px solid #c0c9d3!important;
    }
    #images{
        padding: 100px 0;
    }
    #images .owl-images img {
        max-height: 20vh!important;
    }
    #facts .button svg{
        height: 25px;
        width: 25px;
        margin-right: 10px;
        transition: 1s;
    }
    #facts .button svg path{
        fill: #f04c23!important;
    }
    #facts-panel{
        display:none;
    }
    .facts-info{
        background: #f6f8fa;
    }
    #our-team{
        padding: 100px 0 0;
    }
    #life-culture{
        padding: 100px 0;
    }
    #life-culture .container-fluid .row {
        padding: 0 20px;
        height: 100%;
    }
    #contact{
        padding: 100px 0;
    }
    .social-icon {
        margin: 40px auto 60px;
        max-width: 138px;
    }
    footer .container-fluid {
        padding: 0 30px;
    }
}

@media (max-width:575px){
        h1.text{
            font-size: calc(55px + (65 - 55) * ((100vw - 320px)/ (768 - 320)));
        }
        h2.text{
            font-size: calc(28px + (38 - 28) * ((100vw - 320px)/ (768 - 320)));
        }
        h3.text{
            font-size: calc(24px + (26 - 24) * ((100vw - 320px)/ (768 - 320)));
        }
        #first-page #animate h1.text{
            font-size: 100px;
        }
        .navbar{
            padding: 6px 24px;
            background: #fff!important;
        }
        .navbar .color-w svg path {
            fill:rgba(0,0,0,0.7);
        }
        .navbar ul li a.color-w {
            color: rgba(0,0,0,0.7)!important;
        }
        #life-culture h3.text{
            color: #ffffff;
        }
        #life-culture span.outline-text{
            font-size: calc(28px + (38 - 28) * ((100vw - 320px)/ (768 - 320)));
        }
        #animate{
            bottom: -30px!important;
        }
        #reading h1.text{
            font-size: calc(55px + (65 - 55) * ((100vw - 320px)/ (768 - 320)));
        }
        #first-page #animate h1.text{
            width: 300vw;
        }
        #tech{
            padding-bottom:75px;
        }
        #reading{
            padding-bottom: 75px;
        }
        #team{
            padding: 100px 0;
        }
        #team .m-container .row .col-12 svg{
            width: 25px;
            height: 25px;
            margin-right: 10px;
            transition: 1s;
        }
        svg.rotate{
            transform: rotate(180deg);
            transition: 1s;
        }
        #team .m-container .row .col-12 svg path{
            fill: #ffffff;
        }
        #panel{
            display: none;
        }
        #team .m-container .row .col-12 #panel svg{
            width: 60px;
            height: 60px;
            margin-right: 10px;
        }
        #team .m-container .row .col-12 #panel svg path{
            stroke: #ffffff;
            fill: transparent;
        }
        .info{
            background: #df390f;
        }
        #position{
            padding: 50px 0;
        }
        #position .container-fluid{
            padding: 0 20px;
        }
        #video{
            height: 400px!important;
        }
        h4.text{
            color: black!important;
        }
        .border-mob{
            border-top: 1px solid #c0c9d3!important;
            border-bottom: 1px solid #c0c9d3!important;
        }
        #images{
            padding: 50px 0;
        }
        #images .owl-images img {
            max-height: 20vh!important;
        }
        #facts .button svg{
            height: 25px;
            width: 25px;
            margin-right: 10px;
            transition: 1s;
        }
        #facts .button svg path{
            fill: #f04c23!important;
        }
        #facts-panel{
            display:none;
        }
        .facts-info{
            background: #f6f8fa;
        }
        #our-team{
            padding: 50px 0 0;
        }
        #life-culture{
            padding: 50px 0;
        }
        #life-culture .container-fluid .row {
            padding: 0 20px;
            height: 100%;
        }
        #contact{
            padding: 100px 0;
        }
        .social-icon {
            margin: 40px auto 60px;
            max-width: 138px;
        }
        footer .container-fluid {
            padding: 0 30px;
        }
}